@*

*@
@{

}

<li class="nav-item dropdown show">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Categories</a>
        <a class="dropdown-item" href="#">Users to Categories</a>
        <a class="dropdown-item" href="#">Media Types</a>
    </div>
</li>